:root {
  --Negro: #1c1d1d;
  --blanco: #fff;
}

@font-face {
  font-family: ITC;
  src: url(/cerveceria/assests/Fonts/itcavantgardegothic.woff2);
}
@font-face {
  font-family: Futura;
  src: url(/cerveceria/assests/Fonts/futura.woff2);
}

body {
  margin: 0;
  padding: 0;
  font-family: "ITC", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Modificacion Tatiana */
nav {
  font: var(--Negro);
  padding: 30px 0;
}
.navdecoracion {
  font-size: 17px;
  padding: 7.5px 8px;
  font-weight: 700;
}

.IHover {
  transition: all 1s;
}

.IHover:hover {
  transform: scale(2);
}
.offcanvas-body {
  color: #000;
  padding: 20px;
  text-decoration: none;
  font-family: "Futura", Arial, Helvetica, sans-serif;
}

.inputletra {
  border: 0;
  font-size: 1.71429em;
  background-color: transparent;
  outline: 0;
  padding: 8px 10px;
}
.inputletra:focus {
  border-color: none;
  outline: none;
  box-shadow: none;
}

.fotobackground {
  background-image: url(../Img/backgounddiv.jpg);
  padding-left: 40px;
  height: 465px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cajablanca {
  background-color: var(--blanco);
  width: 384px;
  padding: 40px;
}
.echemospola {
  font-family: "Futura";
  font-size: 14px;
}

/* 
Alejandra */

.titulo {
  color: #1c1d1d;
  font-size: 20px;
  font-weight: 700;
}

.par {
  color: #1c1d1d;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
}

.micro {
  size: 500px 301px;
}
/* 
Alejandra */
.fotobackground2 {
  background-image: url(../Img/backgrounddiv2.jpg);
  padding-left: 40px;
  height: 465px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#sliderPolas {
  padding: 250px 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 2s;
}
/* Modificacion Tatiana */

form .LogContainer {
  width: 386px;
}

.InputOutline:focus {
  box-shadow: none !important;
  border: 1px solid black;
}

.Loglabel {
  margin-bottom: 10px;
  font-size: 11px;
  letter-spacing: 2px;
}

.PassLabel {
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
}

.btn-background {
  background-color: black;
  margin-bottom: 30px;
  padding: 9px 20px;
}

.cta {
  display: flex;
  padding: 11px 33px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background: rgb(0, 75, 19);
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-10deg);
  border: none;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.116);
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 25px;
}

.span {
  transform: skewX(10deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
    --Negro: #1c1d1d;
    --blanco: #fff;
  }
}
.h2_ResetPass {
  font-size: 1.62857em;
}

.PResetPass {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
}

.Loglabel_ResetPass {
  margin-bottom: 10px;
  font-size: 11px;
  letter-spacing: 2px;
}

.Loglabel_NewAcc {
  margin-bottom: 10px;
  font-size: 11px;
  letter-spacing: 3px;
}

.Pclass {
  margin: 5px 0px;
  padding-left: 10px;
  font-size: 15px;
}

.catalogh3 {
  color: #1c1d1d;
  text-align: center;
  font-size: 26px;
}
/* Hasta aca fue la moficiacion de William */

section .Comprarcta {
  display: flex;
  padding: 11px 23px;
  margin-left: 80px;
  text-decoration: none;
  font-size: 13px;
  color: white;
  background: rgb(0, 0, 0);
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-10deg);
  border: none;
}

.Comprarcta:focus {
  outline: none;
}

.Comprarcta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.116);
}

.Comprarcta .ComprarSecond {
  transition: 0.5s;
  margin-right: 0px;
}

.Comprarcta:hover .ComprarSecond {
  transition: 0.5s;
  margin-right: 25px;
}

.ComprarSpan {
  transform: skewX(10deg);
}

.ComprarSecond {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.ComprarOne {
  transition: 0.4s;
  transform: translateX(-60%);
}

.Comprartwo {
  transition: 0.5s;
  transform: translateX(-30%);
}

.Comprarcta:hover .Comprarthree {
  animation: color_anim 1s infinite 0.2s;
}

.Comprarcta:hover .Comprarone {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.Comprarcta:hover .Comprartwo {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
.SpanStyle {
  color: #1c1d1d;
  font-size: 13px;
  margin-top: 20px;
}

.PStyle {
  color: #1c1d1d;
  font-size: 19px;
  height: 48px;
}

/* Media query */
@media (max-width: 1000px) {
  .catalogh3 {
    color: #1c1d1d;
    text-align: center;
    font-size: 20px;
  }

  section .Comprarcta {
    display: flex;
    padding: 8px 10px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-10deg);
    border: none;
  }

  .ComprarSecond svg {
    width: 30px; /* Ajusta el ancho del ícono SVG */
    height: 12px; /* Ajusta la altura del ícono SVG */
  }

  .Comprarcta:focus {
    outline: none;
  }

  .Comprarcta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.116);
  }

  .Comprarcta .ComprarSecond {
    transition: 0.5s;
    margin-right: 0px;
  }

  .Comprarcta:hover .ComprarSecond {
    transition: 0.5s;
    margin-right: 10px;
  }

  .ComprarSpan {
    transform: skewX(10deg);
  }

  /* .ComprarSecond {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  } */

  .ComprarOne {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  .Comprartwo {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  .Comprarcta:hover .Comprarthree {
    animation: color_anim 1s infinite 0.2s;
  }

  .Comprarcta:hover .Comprarone {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .Comprarcta:hover .Comprartwo {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  .SpanStyle {
    color: #1c1d1d;
    font-size: 10px;
    margin-top: 20px;
  }

  .PStyle {
    color: #1c1d1d;
    font-size: 15px;
    height: 48px;
  }
}

@media (max-width: 850px) {
  .catalogh3 {
    color: #1c1d1d;
    text-align: center;
    font-size: 15px;
  }

  section .Comprarcta {
    display: flex;
    padding: 8px 10px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-10deg);
    border: none;
  }

  .ComprarSecond svg {
    width: 30px; /* Ajusta el ancho del ícono SVG */
    height: 12px; /* Ajusta la altura del ícono SVG */
  }

  .Comprarcta:focus {
    outline: none;
  }

  .Comprarcta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.116);
  }

  .Comprarcta .ComprarSecond {
    transition: 0.5s;
    margin-right: 0px;
  }

  .Comprarcta:hover .ComprarSecond {
    transition: 0.5s;
    margin-right: 10px;
  }

  .ComprarSpan {
    transform: skewX(10deg);
  }

  /* .ComprarSecond {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  } */

  .ComprarOne {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  .Comprartwo {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  .Comprarcta:hover .Comprarthree {
    animation: color_anim 1s infinite 0.2s;
  }

  .Comprarcta:hover .Comprarone {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .Comprarcta:hover .Comprartwo {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
}

@media (max-width: 750px) {
  .catalogh3 {
    color: #1c1d1d;
    text-align: center;
    font-size: 10px;
  }

  section .Comprarcta {
    display: flex;
    padding: 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-10deg);
    border: none;
  }

  .ComprarSecond svg {
    width: 30px; /* Ajusta el ancho del ícono SVG */
    height: 12px; /* Ajusta la altura del ícono SVG */
  }

  .Comprarcta:focus {
    outline: none;
  }

  .Comprarcta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.116);
  }

  .Comprarcta .ComprarSecond {
    transition: 0.5s;
    margin-right: 0px;
  }

  .Comprarcta:hover .ComprarSecond {
    transition: 0.5s;
    margin-right: 10px;
  }

  .ComprarSpan {
    transform: skewX(10deg);
  }

  /* .ComprarSecond {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  } */

  .ComprarOne {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  .Comprartwo {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  .Comprarcta:hover .Comprarthree {
    animation: color_anim 1s infinite 0.2s;
  }

  .Comprarcta:hover .Comprarone {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .Comprarcta:hover .Comprartwo {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
}

@media (max-width: 650px) {
  .catalogh3 {
    color: #1c1d1d;
    text-align: center;
    font-size: 10px;
  }

  section .Comprarcta {
    display: flex;
    padding: 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 8px;
    color: white;
    background: rgb(0, 0, 0);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-10deg);
    border: none;
  }

  .ComprarSecond svg {
    width: 30px; /* Ajusta el ancho del ícono SVG */
    height: 12px; /* Ajusta la altura del ícono SVG */
  }

  .Comprarcta:focus {
    outline: none;
  }

  .Comprarcta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.116);
  }

  .Comprarcta .ComprarSecond {
    transition: 0.5s;
    margin-right: 0px;
  }

  .Comprarcta:hover .ComprarSecond {
    transition: 0.5s;
    margin-right: 10px;
  }

  .ComprarSpan {
    transform: skewX(10deg);
  }

  /* .ComprarSecond {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  } */

  .ComprarOne {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  .Comprartwo {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  .Comprarcta:hover .Comprarthree {
    animation: color_anim 1s infinite 0.2s;
  }

  .Comprarcta:hover .Comprarone {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .Comprarcta:hover .Comprartwo {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  .SpanStyle {
    color: #1c1d1d;
    font-size: 10px;
    margin-top: 20px;
  }

  .PStyle {
    color: #1c1d1d;
    font-size: 12px;
    height: 48px;
  }
}

.CatalogP {
  font-size: 12px;
  font-family: "futura", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.CatalogH3 {
  font-size: 30px;
  font-family: "ITC", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.Price {
  font-size: 20px;
  font-family: "futura", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: #ddd;
  }
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.textCart {
  font-size: 14px;
  font-family: "Futura", Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

.Icontext {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* FOOTER */

.FooterHead {
  background-color: #111111;
  padding-top: 80px;
  padding-bottom: 80px;
}

.FooterHeader FooterHeader {
  color: #fff;
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}

.EscribemosClass {
  color: #fff;
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}

.FooterPa {
  color: #fff;
  padding: 2px 0;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

.FooterImg {
  width: 223px;
  height: 95%;
  padding-top: 30px;
}

.FooterWarning {
  color: #fff;
  padding: 2px 0;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  padding-top: 30px;
}

.footerfont {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  font-size: 13px;
}
