:root {
    --Negro: #1c1d1d;
    --blanco: #fff;

}

@font-face {
    font-family: ITC;
    src: url(../Fonts/itcavantgardegothic.woff2);
}

body {
    margin: 0;
    padding: 0;
    font-family: "ITC", Arial, Helvetica, sans-serif;
}

nav {
    font: var(--Negro);
}

.IHover {
    transition: all 1s;
}

.IHover:hover {
    transform: scale(2);
}
.decorationnone{text-decoration: none;}